<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="debug" value="false" />
    <add key="HAB_FEAT_IGNORE_SIGNALS" value="true" />
    <add key="HAB_FEAT_INSTALL_HOOK" value="true" />
    <add key="launcherArgs" value="--no-color --peer=10.1.1.21:9638 --peer=10.1.1.22:9638" />
  </appSettings>
</configuration>